@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/lora/Lora-VariableFont_wght.ttf') format('ttf');
}

:root {
  --black: #050505;
  --dark-gray-1: #1f1f1f;
  --dark-gray-2: #2d2d2d;
  --dark-gray-3: #3a3a3a;
  --white: #fff;
  --light-gray-1: #f4f4f4;
  --light-gray-2: #e9e9e9;
  --light-gray-3: #757575;
  --red: #ff5252;
  --purple: #a44fed;

  --sans-serif: 'Inter';
  --serif: 'Lora';
  --mono: 'Incosolata';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.body-container {
  margin: 0 24px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.header-containers {
  display: flex;
  align-items: center;
}

header
.dropdown-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.dropdown-container
p {
  margin-right: 16px;
  font-weight: bold;
}

.divider {
  height: 100%;
  width: 1px;
  background: var(--light-gray-2);
}

header
.toggle-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.toggle-icon {
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
}

.oval {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: gray;
}

.circle {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}
