@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/lora/Lora-VariableFont_wght.ttf') format('ttf');
}

:root {
  --black: #050505;
  --dark-gray-1: #1f1f1f;
  --dark-gray-2: #2d2d2d;
  --dark-gray-3: #3a3a3a;
  --white: #fff;
  --light-gray-1: #f4f4f4;
  --light-gray-2: #e9e9e9;
  --light-gray-3: #757575;
  --red: #ff5252;
  --purple: #a44fed;

  --sans-serif: 'Inter';
  --serif: 'Lora';
  --mono: 'Incosolata';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::marker {
  color: var(--purple);
}

.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

.dark-mode
hr {
  border-color: var(--dark-gray-3);
}

.light-mode {
  background-color: var(--white);
  color: var(--black);
}

.body-container {
  margin: 0 24px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.header-containers {
  display: flex;
  align-items: center;
}

header
.dropdown-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.dropdown-container
p {
  margin-right: 16px;
  font-weight: bold;
}

.divider {
  height: 100%;
  width: 1px;
  background: var(--light-gray-2);
}

header
.toggle-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.toggle-icon {
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
}

.toggle-icon:hover {
  cursor: pointer;
}

.oval {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
}

.light-mode
.oval {
  background-color: var(--light-gray-3);
}

.light-mode
.oval:hover {
  background-color: var(--purple);
}

.dark-mode
.oval {
  background-color: var(--purple);
}

.circle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}

.light-mode
.circle {
  left: 25%;
}

.dark-mode
.circle {
  left: 75%;
}

.light-mode
.moon path {
  stroke: var(--light-gray-3);
}

.dark-mode
.moon path {
  stroke: var(--purple);
}

main
input {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  border: none;
  padding: 16px 24px;
  font-size: 16px;
  caret-color: var(--purple);
  margin-bottom: 24px;
}

.light-mode
input {
  background-color: var(--light-gray-1);
}

.dark-mode
input {
  background-color: var(--dark-gray-1);
  color: var(--white);
}

main
input:focus {
  outline-color: var(--purple);
}

main
.word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.word-container
.word {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 9px;
}

.word
p {
  font-size: 18px;
  color: var(--purple);
}

.word-container
svg {
  height: 48px;
  width: 48px;
}

section
.hr-container {
  position: relative;
  margin-bottom: 35px;
}

.hr-container
p {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding-right: 25px;
}

.light-mode
.hr-container
p {
  background-color: var(--white);
}

.dark-mode
.hr-container
p {
  background-color: var(--black);
}

.hr-container
hr {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
  color: var(--light-gray-2);
}

section
.meaning {
  font-size: 16px;
  font-weight: 400;
  color: var(--light-gray-3);
  margin-bottom: 17px;
}

section
li {
  font-size: 15px;
  line-height: 24px;
}

section
.synonyms-container {
  display: flex;
  margin: 24px 0 31px 0;
}

.synonyms-container
p:nth-of-type(1) {
  margin-right: 24px;
  color: var(--light-gray-3);
  font-size: 16px;
}

.synonyms-container
p:nth-of-type(2) {
  color: var(--purple);
  font-size: 16px;
  font-weight: bold;
}

section
.example {
  font-size: 15px;
  line-height: 24px;
  color: var(--light-gray-3);
  margin: 13px 0 32px 25px;
}

footer
hr {
  margin-bottom: 24px;
}

footer
p {
  font-size: 14px;
  color: var(--light-gray-3);
  text-decoration: underline;
  margin-bottom: 8px;
}

footer
a {
  font-size: 14px;
  color: inherit;
  /* color: var(--dark-gray-2); */
  margin-right: 9px;
}

footer
.link-container {
  margin-bottom: 85px;
}

@media (min-width: 768px) {
  .body-container {
    margin: 0 39px;
    font-size: 18px;
  }

  header {
    margin: 58px 0 51.5px 0;
    font-size: 18px;
  }

  main
  input {
    margin-bottom: 50px;
  }

  .word
  h1 {
    font-size: 64px;
    margin-bottom:11px;
  }

  .word
  p {
    font-size: 24px;
  }

  .word-container
  svg {
    height: 75px;
    width: 75px;
  }

  section
  .hr-container {
    margin-bottom: 43px;
  }

  .hr-container
  p {
    font-size: 24px;
    padding-right: 32px;
  }

  section
  .meaning {
    font-size: 20px;
    margin-bottom: 27px;
  }

  section
  li {
    font-size: 18px;
    line-height: 24px;
  }

  section
  .synonyms-container {
    margin: 41px 0 43px 0;
  }

  .synonyms-container
  p:nth-of-type(1) {
    font-size: 20px;
    margin-right: 40px;
  }

  .synonyms-container
  p:nth-of-type(2) {
    font-size: 20px;
  }

  section
  .example {
    font-size: 18px;
    margin: 13px 0 39px 25px;
  }

  .footer-container {
    display: flex;
    margin-bottom: 118px;
    align-items: center;
  }

  footer
  p {
    font-size: 14px;
    margin: 0 25px 0 0;

  }

  footer
  .link-container {
    margin-bottom: 0;
  }

}

@media (min-width: 1440px) {
  .body-container {
    margin: 0 351px;
  }

  header {
    margin: 58px 0 51.5px 0;
    font-size: 18px;
  }

  main
  input {
    margin-bottom: 43px;
  }

  .word
  h1 {
    margin-bottom:5px;
  }

  section
  .hr-container {
    margin-bottom: 38px;
  }

  .hr-container
  p {
    padding-right: 23px;
  }

  section
  .meaning {
    margin-bottom: 24px;
  }

  section
  .synonyms-container {
    margin: 63px 0 39px 0;
  }

  .synonyms-container
  p:nth-of-type(1) {
    margin-right: 24px;
  }

  .footer-container {
    margin-bottom: 123px;
  }

  footer
  p {
    margin: 0 21px 0 0;

  }

}