@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/lora/Lora-VariableFont_wght.ttf') format('ttf');
}

:root {
  --black: #050505;
  --dark-gray-1: #1f1f1f;
  --dark-gray-2: #2d2d2d;
  --dark-gray-3: #3a3a3a;
  --white: #fff;
  --light-gray-1: #f4f4f4;
  --light-gray-2: #e9e9e9;
  --light-gray-3: #757575;
  --red: #ff5252;
  --purple: #a44fed;

  --sans-serif: 'Inter';
  --serif: 'Lora';
  --mono: 'Incosolata';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.body-container {
  margin: 0 24px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.header-containers {
  display: flex;
  align-items: center;
}

header
.dropdown-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.dropdown-container
p {
  margin-right: 16px;
  font-weight: bold;
}

.divider {
  height: 100%;
  width: 1px;
  background: var(--light-gray-2);
}

header
.toggle-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.toggle-icon {
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
}

.oval {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: gray;
}

.circle {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}

main
input {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  border: none;
  background-color: var(--light-gray-1);
  padding: 16px 24px;
  font-size: 16px;
  caret-color: var(--purple);
  margin-bottom: 24px;
}

main
input:focus {
  outline-color: var(--purple);
}

main
.word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.word-container
.word {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 9px;
}

.word
p {
  font-size: 18px;
  color: var(--purple);
}

.word-container
svg {
  height: 48px;
  width: 48px;
}

section
.hr-container {
  position: relative;
  margin-bottom: 35px;
}

.hr-container
p {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  background-color: var(--white);
  padding-right: 25px;
}

.hr-container
hr {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
  color: var(--light-gray-2);
}

section
.meaning {
  font-size: 16px;
  font-weight: 400;
  color: var(--light-gray-3);
  margin-bottom: 17px;
}

section
li {
  font-size: 15px;
  color: var(--dark-gray-2);
  line-height: 24px;
}

section
.synonyms-container {
  display: flex;
  margin: 24px 0 31px 0;
}

.synonyms-container
p:nth-of-type(1) {
  margin-right: 24px;
  color: var(--light-gray-3);
  font-size: 16px;
}

.synonyms-container
p:nth-of-type(2) {
  color: var(--purple);
  font-size: 16px;
  font-weight: bold;
}

section
.example {
  font-size: 15px;
  line-height: 24px;
  color: var(--light-gray-3);
  margin: 13px 0 32px 25px;
}

footer
hr {
  margin-bottom: 24px;
}

footer
p {
  font-size: 14px;
  color: var(--light-gray-3);
  text-decoration: underline;
  margin-bottom: 8px;
}

footer
a {
  font-size: 14px;
  color: var(--dark-gray-2);
  margin-right: 9px;
}

footer
.link-container {
  margin-bottom: 85px;
}